<%="module \u003C%=class_name%\u003EPresenter
  extend ActiveSupport::Concern

  included do
    acts_as_api

    api_accessible :base do |t|
      \u003C%= columns %\u003E
    end

    api_accessible :index, extend: :base

    api_accessible :show, extend: :index
  end
end
"%>